*
{
  box-sizing: border-box; /* Uses border-box in all elements. */
  margin: 0;
  padding: 0;
}

:focus {
  border: 1px solid orangered;
  border-radius: 2px;
}

body {
  background: linear-gradient(0.25turn, #F5C71B, #E65F00);
}

input {
  /*background: rgba(255,255,255,0.5);*/
  flex: 1;
  height: 40px;
  border-style: none;
  background: rgba(255,255,255,0.5);
}

.search-container {
  width: 200px;
  margin: 45vh auto 0;
}

ul li {
  list-style: none;
  background: rgba(255,255,255,0.5);
}
ul li:hover {
  background: orangered; 
}
